<h1>Equipments</h1>


<p>This will show off your current gears</p>

<ol>
    <li>Bow:Hoyt Invicta</li>
    <li>Arrow: Easton X10 400</li>
</ol>

<ol>
    <li>Bow: Mathews TRX</li>
    <li>Arrow: GT Pierce Tours 400</li>
</ol>