<h1><%= @equipment.bow %></h1>

<p><%= @equipment.arrow %></p>

<div>
    <%= link_to 'Edit', edit_equipment_path(@equipment) %>
    <%= button_to 'Delete', @equipment, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
</div>