<h1>New Round</h1>

<p>Welcome to your house of pain</p>
<p>Forever grinding</p>

<ul>
    <li>Target Face:</li>
    <li>Distance:</li>
    <li>Arrow shot:</li>
    <li>Weather:</li>
</ul>

<button>Start Round</button>