<h1>Welcome</h1>

<h3><%= @current_user.username if @current_user.present? %></h3>

<p>To the <b>pew pew</b> grind of pain.</p>

<h2>Archery Diary App</h2>
<p>This is a Diary web app that you can use to blog and record your sessions. How it works is you record your blogs, and select what bow you used on the day.</p>
<p>As you look at your gear set-up you can also see all the sessions that you have used with it. This is the idea I like to have when you want to reflect back on your performance and can be used to blog or help to improve yourself in the future.</p>